@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .border-2-black {
        @apply border-2 border-black;
    }
}

body {
    overflow: scroll;
}

.main-color {
    @apply bg-gray-100 dark:bg-gray-800 text-black dark:text-slate-200;
}

.nav {
    @apply bg-white dark:bg-gray-700 text-black dark:text-slate-200;
}

.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
